*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}


.jumbotron {
	background: linear-gradient(270deg, #275df3, #f32121);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.jumbotron{
	color: white;
	text-align: center;
	border-bottom: 7px solid #7D449B;
	padding: 0px;

}
.display-4 {
	font-family: 'Abril Fatface', cursive;
}
.lead {
	font-family: 'Abril Fatface', cursive;
}
* {
    box-sizing: border-box;
}
body {
	background: linear-gradient(270deg, #f32121, #275df3);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}{
    margin: 0;
    position: relative;

}

input, select{
    width: 100%;
    border-radius:5px;
}
.container{
	text-align: center
}
#genderBox{
    height: 30px;  
}
#sourceBar{
    clear: both;
    margin-top:1px;
    height: 30px;
}
#showNews{
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Abril Fatface', cursive;
}

.articleContainer{
    margin-top: 50px;
    margin-bottom: 20px;
}


/*dynamic divs*/

a {
   color: black;
}
.card-img-top{
    width: 286px;
    height: 180px;
}

.flip-containerL, .flip-containerR{
    perspective: 1000px;
    width: 320px;
    height: 480px;
}

.flip-containerL.hover .flipper{
    transform: rotateY(180deg);
}

.flip-containerR.hover .flipper{
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 480px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front{
    z-index:2;
    transform: rotateY(0deg);
    background: white;
}

.back {
    transform: rotateY(180deg);
    background: white;
}

.card-body{
    overflow: scroll;
    margin-bottom: 5px;
}

.card-body h3{
    font-size: 18px;
    text-align: left;
}

.card-body p, h4{
    font-size: 13px;
    text-align: left;
}

.card-body h4{
    color:grey;
}

.otherArticles h3{
    font-size: 16px;
    text-decoration: underline;
}
/*chart*/
#myChart{
    float: left;
    width: 70%;
}

.chartContainer p{
    float: right;
    width: 20%;
}

.canvasjs-chart-canvas{
    border-radius: 5px;

}


/* =================== START MODAL CSS =================== */

.modal,
.chartModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

<!--
/* Modal Content */

-->.modal-content-1 {
    background-color: #fefefe;
    margin: 70px auto;
    padding: 20px;
    width: 50%;
    height: 35%;
}

<!--
/* Modal Content */

-->.modal-content-2 {
    background-color: #fefefe;
    margin: 70px auto;
    padding: 20px;
    width: 60%;
    height: 75%;
}


/* The Close Button */

.close,
.optionalClose {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 5px;
    margin: 0 auto;
    /*  margin-top: 10px; */
    font-family: 'Abril Fatface', cursive;
}

.modalCont {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.close:hover,
.close:focus,
.optionalClose:hover,
.optionalClose:focus {
    /* color: #000; */
    text-decoration: none;
    cursor: pointer;
}


/* =================== END MODAL CSS ========================= */

/*------------------------------------------------------------------------------*/
footer {
    clear: both;
    font-family: 'Abril Fatface', cursive;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100;
	padding: 3em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	border-top: 7px solid #7D449B;
		background: linear-gradient(270deg, #275df3, #f32121);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* Sticky Footer*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
footer,
.push {
  height: 50px;
}
/*--------------*/